<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application>

        <service
            android:name="com.diatranquilo.callscreening.DiaTranquiloCallScreeningService"
            android:permission="android.permission.BIND_SCREENING_SERVICE"
            android:exported="true">

            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>

        </service>

    </application>

</manifest>
